"""Application context for {{ project_name }}."""

from __future__ import annotations

from dataclasses import dataclass

from kctl_common.callbacks import AppContextBase


@dataclass
class AppContext(AppContextBase):
    """{{ project_name }} application context."""

    pass
