"""{{ project_name }} API client.

Subclasses APIClient from kctl-lib for standardized HTTP/REST communication.
"""

from __future__ import annotations

from kctl_lib.api_client import APIClient


class {{ package_name | replace('kctl_', '') | title | replace('_', '') }}Client(APIClient):
    """{{ description }} client."""

    AUTH_HEADER = "Authorization"
    AUTH_PREFIX = "Bearer"
