COMPOSE_PROJECT_NAME=provetics-admin
DOMAIN=admin.provetics.com

NGINX_CONF=nginx/saas.conf
IMAGE_TAG=CHANGE_ME
SPA_CPU_LIMIT=0.5
SPA_MEMORY_LIMIT=256M

VITE_SAAS_APP_NAME=Provetics Admin
VITE_SAAS_API_BASE_URL=https://admin.provetics.com
VITE_SAAS_THEME=saas

VITE_AUTH_MODE=oidc
VITE_OIDC_AUTHORITY=https://auth.kodeme.io/application/o/provetics-admin
VITE_SAAS_OIDC_CLIENT_ID=CHANGE_ME
VITE_SAAS_OIDC_REDIRECT_URI=https://admin.provetics.com/auth/callback

VITE_SAAS_SENTRY_DSN=
