VITE_MRP_APP_NAME=KOD MRP
VITE_MRP_API_BASE_URL=https://stg-kod-odoo-full.kodeme.io/mrp/api
VITE_AUTH_MODE=oidc
VITE_OIDC_AUTHORITY=https://auth.kodeme.io/application/o/kod-react-mrp/
VITE_MRP_OIDC_CLIENT_ID=
VITE_MRP_OIDC_REDIRECT_URI=https://stg-kod-mrp.kodeme.io/auth/callback
VITE_MRP_THEME=mrp
