VITE_WMS_APP_NAME=KOD WMS
VITE_WMS_API_BASE_URL=https://kod-odoo-full-stg.kodeme.io/wms/api
VITE_AUTH_MODE=oidc
VITE_OIDC_AUTHORITY=https://auth.kodeme.io/application/o/kod-react-wms/
VITE_WMS_OIDC_CLIENT_ID=
VITE_WMS_OIDC_REDIRECT_URI=https://kod-wms-stg.kodeme.io/auth/callback
VITE_WMS_THEME=wms
