VITE_SHOP_APP_NAME=KOD SHOP
VITE_SHOP_API_BASE_URL=https://stg-kod-odoo-full.kodeme.io/shop/api
VITE_AUTH_MODE=oidc
VITE_OIDC_AUTHORITY=https://auth.kodeme.io/application/o/kod-react-shop/
VITE_SHOP_OIDC_CLIENT_ID=
VITE_SHOP_OIDC_REDIRECT_URI=https://stg-kod-shop.kodeme.io/auth/callback
VITE_SHOP_THEME=shop
