VITE_BIA_APP_NAME=Pakerti BIA
VITE_BIA_API_BASE_URL=https://stg-tpp-odoo-erp.idtpp.com/bia/api
VITE_AUTH_MODE=oidc
VITE_OIDC_AUTHORITY=https://auth.kodeme.io/application/o/tpp-react-bia/
VITE_BIA_OIDC_CLIENT_ID=
VITE_BIA_OIDC_REDIRECT_URI=https://stg-tpp-bia.idtpp.com/auth/callback
VITE_BIA_THEME=bia
