VITE_SFA_APP_NAME=KOD SFA
VITE_SFA_API_BASE_URL=https://kod-odoo-full-stg.kodeme.io/sfa/api
VITE_AUTH_MODE=oidc
VITE_OIDC_AUTHORITY=https://auth.kodeme.io/application/o/kod-react-sfa/
VITE_SFA_OIDC_CLIENT_ID=
VITE_SFA_OIDC_REDIRECT_URI=https://kod-sfa-stg.kodeme.io/auth/callback
VITE_SFA_THEME=sfa
