VITE_HRM_APP_NAME=MAC HRM
VITE_HRM_API_BASE_URL=https://mac-odoo-hrms-stg.idtpp.com/hrm/api
VITE_AUTH_MODE=oidc
VITE_OIDC_AUTHORITY=https://auth.kodeme.io/application/o/mac-react-hrm/
VITE_HRM_OIDC_CLIENT_ID=
VITE_HRM_OIDC_REDIRECT_URI=https://mac-hrm-stg.idtpp.com/auth/callback
VITE_HRM_THEME=hrm
