VITE_WMS_APP_NAME=Pakerti WMS
VITE_WMS_API_BASE_URL=https://tpp-odoo-erp-stg.idtpp.com/wms/api
VITE_AUTH_MODE=oidc
VITE_OIDC_AUTHORITY=https://auth.kodeme.io/application/o/tpp-react-wms/
VITE_WMS_OIDC_CLIENT_ID=
VITE_WMS_OIDC_REDIRECT_URI=https://tpp-wms-stg.idtpp.com/auth/callback
VITE_WMS_THEME=wms
