VITE_TMS_APP_NAME=KOD TMS
VITE_TMS_API_BASE_URL=https://stg-kod-odoo-full.kodeme.io/tms/api
VITE_AUTH_MODE=oidc
VITE_OIDC_AUTHORITY=https://auth.kodeme.io/application/o/kod-react-tms/
VITE_TMS_OIDC_CLIENT_ID=
VITE_TMS_OIDC_REDIRECT_URI=https://stg-kod-tms.kodeme.io/auth/callback
VITE_TMS_THEME=tms
