VITE_ERP_APP_NAME=MAC ERP
VITE_ERP_API_BASE_URL=https://mac-odoo-erp.idtpp.com
VITE_AUTH_MODE=oidc
VITE_OIDC_AUTHORITY=https://auth.kodeme.io/application/o/mac-react-erp/
VITE_ERP_OIDC_CLIENT_ID=
VITE_ERP_OIDC_REDIRECT_URI=https://mac-erp.idtpp.com/auth/callback
VITE_ERP_THEME=erp
