VITE_LFA_APP_NAME=KOD LFA
VITE_LFA_API_BASE_URL=https://kod-odoo-full.kodeme.io/lfa/api
VITE_AUTH_MODE=oidc
VITE_OIDC_AUTHORITY=https://auth.kodeme.io/application/o/kod-react-lfa/
VITE_LFA_OIDC_CLIENT_ID=
VITE_LFA_OIDC_REDIRECT_URI=https://kod-lfa.kodeme.io/auth/callback
VITE_LFA_THEME=lfa
