VITE_TMS_PARENT_APP_NAME=KOD TMS_PARENT
VITE_TMS_PARENT_API_BASE_URL=https://kod-odoo-full.kodeme.io/tms-parent/api
VITE_AUTH_MODE=oidc
VITE_OIDC_AUTHORITY=https://auth.kodeme.io/application/o/kod-react-tms-parent/
VITE_TMS_PARENT_OIDC_CLIENT_ID=
VITE_TMS_PARENT_OIDC_REDIRECT_URI=https://kod-tms-parent.kodeme.io/auth/callback
VITE_TMS_PARENT_THEME=tms-parent
