# {{ project_name }}

{{ description }}

## Install

```bash
cd cli && uv tool install --editable .
```

## Usage

```bash
{{ project_name }} --help
{{ project_name }} config init
{{ project_name }} config show
```
