COMPOSE_PROJECT_NAME=provetics-odoo
TENANT=provetics
IMAGE_TAG=CHANGE_ME

# Database
PGHOST=db.kodeme.io
PGPORT=5432
PGUSER=odoo
PGPASSWORD=CHANGE_ME
PGDATABASE=odoo_saas_admin

# Odoo
ODOO_ADMIN_PASSWD=CHANGE_ME
ODOO_LIST_DB=False
ODOO_DB_FILTER=
ODOO_WORKERS=2
ODOO_MAX_CRON_THREADS=1
RUNNING_ENV=production
ODOO_SERVER_WIDE_MODULES=base,web,bus,queue_job,session_db,dbfilter_from_header,sentry

# Init
ODOO_INIT_DB=true
ODOO_MANDATORY_BUNDLE=core-mandatory,oca-mandatory,private-mandatory
ODOO_INSTALL_MODULES=saas_management

# Resources
CPU_LIMIT=1.5
MEMORY_LIMIT=2G
CPU_LIMIT_CRON=0.5
MEMORY_LIMIT_CRON=512M
